# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - SNOPT=/home/travis/build/snopt75
    - OCTAVEPATH=/home/travis/build/octave-install
    - PYTHONVERSION=27
    - NUMPYVERSION=1.9.1
    - MOSEK=/home/travis/build/mosek
    - MOSEKLM_LICENSE_FILE=/home/travis/build/testbot/restricted/mosek.lic
    - GUROBI_HOME=/home/travis/build/gurobi

  matrix:
    - BUILD_TYPE=Release NAME_SUFFIX="" TESTCOMMIT="1"

os: linux
dist: trusty
language: generic

before_script:
  - set -e

script:
  - pushd casadi
  - mkdir build
  - pushd build
  - cmake -DWITH_COMMON=ON $casadi_build_flags -DWITH_OPENMP=OFF -DWITH_SELFCONTAINED=ON -DCMAKE_INSTALL_PREFIX=$OCTAVEPATH -DWITH_DEEPBIND=ON -DWITH_OCTAVE=ON -DWITH_OCTAVE_IMPORT=ON -DWITH_PROFILING=ON -DWITH_DOC=ON -DWITH_EXAMPLES=ON -DWITH_EXTRA_WARNINGS=ON ..
  - make
  - make install
  - popd
  - pushd $OCTAVEPATH/casadi && tar -czf ../../bundle.tar.gz .  && popd
  - export RESULT_TAR="$OCTAVEPATH/../bundle.tar.gz"
  - |
    cat <<EOF > upload.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/home/travis/build/testbot/id_rsa_travis')
    
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      sftp.makedirs('commits')
      with sftp.cd('commits'):
        sftp.makedirs("$COMMIT")
        with sftp.cd("$COMMIT"):
          sftp.makedirs('linux')
          with sftp.cd('linux'):
            sftp.put("$RESULT_TAR","casadi-octave-$COMMIT$NAME_SUFFIX.tar.gz")
    EOF
  - python upload.py

after_success:
 - test_commit test-debian-octave
  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - shell_session_update() { :; } # Workaround for travis-ci/travis-ci#6522
  - sudo apt-add-repository ppa:octave/stable -y
  - sudo apt-get update -qq
  - sudo apt-get install octave liboctave-dev -y
  - pushd casadi && export COMMIT=`git rev-parse --short=7 HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && git checkout merged && source recipes/setup.sh && popd
  - sudo apt-get install p7zip-full -y
  - export SLURP_OS=trusty
  - slurp ecos
  - slurp hsl
  - slurp clang
  - travis_retry testbot/recipes/fetch.sh snopt75.tar.gz && mkdir snopt75 && tar -xvf snopt75.tar.gz -C snopt75
  - travis_retry testbot/recipes/fetch.sh gurobi650.tar.gz && mkdir gurobi && tar -xf gurobi650.tar.gz -C gurobi && rm gurobi650.tar.gz
  - travis_retry testbot/recipes/fetch.sh mosek7.tar.bz2 && tar -xvf mosek7.tar.bz2
  - mkdir -p /home/travis/build/casadi/testbot
  - slurp ipopt
  - slurp bonmin
  - slurp swig_matlab
  - slutp cplex
  - slurp worhp
  - popd
  - sudo apt-get update -qq
  - sudo apt-get install -y libslicot-dev binutils git cmake liblapack-dev ipython python-dev python-numpy python-scipy python-matplotlib libmumps-seq-dev libblas-dev liblapack-dev libxml2-dev
  - sudo apt-get install fakeroot rpm alien
  - sudo pip install pysftp
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts 
