# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - MATLABPATH=/home/travis/build/matlab-install
    - MATLAB_ROOT=/home/travis/build/matlab
    - MOSEK=/home/travis/build/mosek
    - MOSEKLM_LICENSE_FILE=/home/travis/build/testbot/restricted/mosek.lic

  matrix:
    - BUILD_TYPE=Release NAME_SUFFIX="" MATLABRELEASE=R2014b TESTCOMMIT="1"
    - BUILD_TYPE=Release NAME_SUFFIX="" MATLABRELEASE=R2014a

os: linux
dist: trusty
language: generic


before_script:
  - set -e

script:
  - pushd /home/travis/build/
  - testbot/recipes/fetch.sh matlab$MATLABRELEASE.tar.gz
  - mkdir matlab
  - travis_wait tar -xf matlab$MATLABRELEASE.tar.gz -C matlab
  - ls -al /home/travis/build/
  - popd
  - pushd casadi
  - mkdir build
  - mkdir -p build/swig/matlab/ && touch build/swig/matlab/SwigGet.m
  - pushd build
  - bash -c "cmake $casadi_build_flags -DWITH_OPENMP=OFF -DWITH_SELFCONTAINED=ON -DCMAKE_INSTALL_PREFIX=$MATLABPATH -DWITH_DEEPBIND=ON -DWITH_MATLAB=ON  -DWITH_DOC=ON -DWITH_EXAMPLES=ON -DWITH_EXTRA_WARNINGS=ON .."
  - make VERBOSE=1
  - sudo make install VERBOSE=1
  - popd
  
before_deploy:
  #- echo "this file (and the casadi directory) should end up in a folder called 'casadi-linux-matlab$MATLABRELEASE-$COMMIT$NAME_SUFFIX'" > $MATLABPATH/dummy.txt
  - export RESULT="$HOME/casadi-linux-matlab$MATLABRELEASE-$COMMIT$NAME_SUFFIX.tar.gz"
  - pushd $MATLABPATH/casadi && tar -czf $RESULT .  && popd
  #- git push git@github.com:casadi/binaries.git :commit-$COMMIT || true
  - export TRAVIS_TAG="commit-$COMMIT"
  #- git push git@github.com:casadi/binaries.git "commit-$COMMIT"
  #- git describe --tags --exact-match
  
deploy:
  overwrite: true
  provider: releases
  api_key: $github_token
  file: $RESULT
  skip_cleanup: true
  on:
    all_branches: true

after_success:
  - test_commit test-debian-matlab
  
branches:
  except:
    - /.*appveyor.*/
    - /.*commit.*/
before_install:
  - pushd casadi && export COMMIT=`git rev-parse --short=7 HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && source recipes/setup.sh && popd
  - sudo apt-get install p7zip-full -y
  - export SLURP_OS=trusty
  - export SLURP_GCC=4.7
  - slurp_common
  - slurp swig_matlab
  - popd
  - sudo apt-get update -qq
  - sudo apt-get install -y binutils gcc-4.7 g++-4.7 gfortran-4.7 git cmake liblapack-dev ipython python-dev python-numpy python-scipy python-matplotlib libmumps-seq-dev libblas-dev liblapack-dev libxml2-dev
  - export CC=gcc-4.7
  - export CXX=g++-4.7
  - export FC=gfortran-4.7
  - ls /usr/lib/x86_64-linux-gnu
  - sudo apt-get install fakeroot rpm alien
  - sudo pip install pysftp
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts 
