# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - MATLAB_ROOT=/home/travis/build/matlab
    - PYTHONVERSION=37
    - NUMPYVERSION=1.9.1
    - MATLABRELEASE=R2014b
    - MOSEKLM_LICENSE_FILE=/home/travis/build/testbot/restricted/mosek.lic

before_script:
  - set -e
  
dist: trusty
os: linux
language: generic

script:
  - pushd /home/travis/build/
  - testbot/recipes/fetch.sh matlab$MATLABRELEASE.tar.gz
  - mkdir matlab && tar -xvf matlab$MATLABRELEASE.tar.gz -C matlab > /dev/null
  - ls -al /home/travis/build/
  - popd
  - matlabtunnel
  - wget https://github.com/casadi/binaries/releases/download/commit-${COMMIT}/casadi-linux-matlab$MATLABRELEASE-$COMMIT.tar.gz -O matlab.tar.gz
  - ls
  - echo "casadi-matlab$MATLABRELEASE-$COMMIT.tar.gz"
  - mkdir matlab && tar -xvf matlab.tar.gz -C matlab
  - ls matlab.tar.gz
  
  - matlabgcc
  - PATH=/home/travis/build/matlab/bin/:$PATH matlab -nodisplay -nosplash -nodesktop -nojvm -r "addpath('/home/travis/build/casadi/binaries/matlab'),savepath,exit"
  #- rm casadi/test/matlab/callback.m casadi/test/matlab/loadallplugins.m
  #- rm -f /home/travis/build/casadi/binaries/matlab/libcasadi_nlpsol_bonmin.so /home/travis/build/casadi/binaries/matlab/libcasadi_importer_clang.so

  - pushd casadi/test && PATH=/home/travis/build/matlab/bin/:$PATH make matlab && popd

  - PATH=/home/travis/build/matlab/bin/:$PATH matlab -nodisplay -nosplash -nodesktop -nojvm -r "cd casadi/test/matlab,callback,exit"

  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - pushd casadi && export COMMIT=`git rev-parse --short=7 HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && source recipes/setup.sh && popd
  - sudo apt-get install p7zip-full libglu1-mesa -y
  - export SLURP_OS=trusty
  - slurp_common_test
  - popd
  - sudo apt-get install -y libslicot0 binutils git cmake liblapack3 ipython python-numpy python-scipy python-matplotlib libblas3 libxml2
  - sudo pip install pysftp
  - python --version
  - python -c "import pysftp"
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts 
