# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
env: 
  global: 
    - DYLD_LIBRARY_PATH=/Users/travis/build/testbot/restricted/worhp:/Users/travis/build/snopt7/lib:/Users/travis/build/mosek/7/tools/platform/linux64x86/bin/:/Users/travis/build/gurobi/lib
    - PYTHONVERSION=27
    - NUMPYVERSION=1.9.1
    - WORHP_LICENSE_FILE=/Users/travis/build/testbot/restricted/worhp/unlocked.lic
    - MOSEKLM_LICENSE_FILE=/Users/travis/build/testbot/restricted/mosek.lic

before_script:
  - set -e

os: osx

script:
  - ls
  - pushd casadi
  - popd
  - |
    cat <<EOF > download.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/Users/travis/build/testbot/id_rsa_travis')
                          
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      with sftp.cd('commits'):
        with sftp.cd("$COMMIT"):
          with sftp.cd('osx'):
            sftp.get("casadi-py$PYTHONVERSION-np$NUMPYVERSION-$COMMIT.tar.gz")
    EOF
  - python download.py
  - mkdir casadi_python
  - tar -xvf casadi-py$PYTHONVERSION-np$NUMPYVERSION-$COMMIT.tar.gz -C casadi_python
  - echo "$PWD/casadi_python"
  - export PYTHONPATH=$PYTHONPATH:$PWD/casadi_python
  - echo $DYLD_LIBRARY_PATH
  - ls $WORHP
  - python -c "from casadi.tools import *;loadAllCompiledPlugins()"
  - pushd /Users/travis/build/casadi/binaries/casadi/test && make unittests_py && popd
  - pushd /Users/travis/build/casadi/binaries/casadi/test && make examples_code_py && popd
  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - shell_session_update() { :; } # Workaround for travis-ci/travis-ci#6522
  - pushd casadi && export COMMIT=`git rev-parse --short HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && git checkout merged && source recipes/setup.sh && popd
  - brew update
  - brew tap homebrew/science
  - brew install p7zip
  #- brew doctor
  - sudo easy_install pip
  - sudo pip install ipython matplotlib numpy scipy pysftp cryptography==1.2.1 2>/dev/null
  - sudo pip install pysftp
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts
  - export SLURP_OS=osx
  - slurp hsl
  - echo $DYLD_LIBRARY_PATH
  - travis_retry testbot/recipes/fetch.sh snopt7.tar.gz && mkdir snopt7 && tar -xvf snopt7.tar.gz -C snopt7
  - travis_retry testbot/recipes/fetch.sh mosek7.tar.bz2 && tar -xvf mosek7.tar.bz2
  - travis_retry testbot/recipes/fetch.sh gurobi650_osx.zip && mkdir gurobi && unzip gurobi650_osx.zip -d gurobi && rm gurobi650_osx.zip
  - pushd testbot/restricted && mkdir -p worhp && cd worhp && 7za e ../libworhp_debian7_amd64_gcc47_1.7-12970f3.7z -y && popd
  - sudo rm -rf /usr/local/lib/gcc/*darwin*/* 
  - sudo rm -rf /usr/local/Cellar/gcc/*/lib/gcc/*darwin*/*

language: cpp
