# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
os: osx

osx_image: xcode9.4

env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - SLURP_GCC=7
    - SLURP_OS=osx
    - KEEP_GOING=1
    
  matrix:
    - TRAVIS_PYTHON_VERSION=2.7 NUMPYVERSION=1.9 TESTCOMMIT=ON
    - TRAVIS_PYTHON_VERSION=3.5 NUMPYVERSION=1.9
    - TRAVIS_PYTHON_VERSION=3.6 NUMPYVERSION=1.11
    - TRAVIS_PYTHON_VERSION=3.7 NUMPYVERSION=1.11
    - TRAVIS_PYTHON_VERSION=3.8 NUMPYVERSION=1.11

before_script:
  - |
    if [ -n "$KEEP_GOING" ];
    then
      echo "Keep going"
    else
      echo "Break early"
      set -e -E
    fi

compiler: cpp

script:
  - pkg-config --libs --cflags ipopt
  - pkg-config --libs --cflags bonmin
  - pushd casadi
  #- grep -v PYTHON_LIBRARIES swig/python/CMakeLists.txt > tmp && mv tmp swig/python/CMakeLists.txt
  # echo "set_target_properties(_casadi PROPERTIES LINK_FLAGS \"-undefined dynamic_lookup\")" >> swig/python/CMakeLists.txt
  # - echo "swig_link_libraries(casadi casadi)" >> swig/python/CMakeLists.txt
  - mkdir build
  - pushd build
  - pwd
  - cmake --version
  - which cmake
  - echo  $casadi_build_flags
  - bash -c "cmake $casadi_build_flags -DPYTHON_LIBRARY=$CMAKE_PYTHON_LIBRARY -DPYTHON_INCLUDE_DIR=$CMAKE_PYTHON_INCLUDE_DIR -DWITH_OPENMP=OFF -DWITH_SELFCONTAINED=ON -DWITH_PYTHON=ON -DCMAKE_INSTALL_PREFIX=../python_install -DPYTHON_PREFIX=../python_install .."
  - osx_rpath_gcc7
  - make VERBOSE=1
  - make install
  - popd
  - export PYTHONPATH=$PYTHONPATH:`pwd`/python_install
  #- otool -l /Users/travis/build/casadi/binaries/casadi/python_install/casadi/libcasadi_nlpsolver_ipopt.dylib
  - otool -l $FORTRAN_FULL
  - otool -l $QUADMATH_FULL
  - otool -l $GCC_FULL

  - cp $GCC_FULL $QUADMATH_FULL $FORTRAN_FULL $CXX_FULL /Users/travis/build/casadi/binaries/casadi/python_install/casadi
  
  - cp_libs_gcc7 python_install/casadi
  - osx_rpath_patch python_install

  - otool -l python_install/casadi/libgfortran.3.dylib | grep /usr/local || assertfail
  - otool -l python_install/casadi/libgcc_s.1.dylib | grep /usr/local || assertfail
  - otool -l python_install/casadi/libquadmath.0.dylib | grep /usr/local || assertfail
  - otool -l python_install/casadi/libcasadi.dylib | grep /usr/local || assertfail
  - otool -l python_install/casadi/_casadi.so | grep /usr/local || assertfail
  
before_deploy:
  - echo "this file (and the casadi directory) should end up in a folder called 'casadi-osx-py$PYTHONVERSION-$COMMIT'" > python_install/dummy.txt
  - export RESULT="$HOME/casadi-osx-py$PYTHONVERSION-$COMMIT.tar.gz"
  - pushd python_install && tar -czf $RESULT . && popd
  - export TRAVIS_TAG="commit-$COMMIT"

deploy:
  provider: releases
  api_key: $github_token
  overwrite: true
  file: $RESULT
  skip_cleanup: true
  on:
    all_branches: true

after_success:
  - test_commit test-osx

branches:
  except:
    - /.*appveyor.*/
    - /.*commit.*/

before_install:
  - wget https://raw.githubusercontent.com/casadi/testbot/master/before_install.sh && source before_install.sh
  - before_install_osx
  
language: generic
