# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml

dist: trusty
language: generic

env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - CMAKE_INCLUDE_PATH=/home/travis/build/testbot/restricted/cplex/cplex/include:/home/travis/build/testbot/restricted/cplex/concert/include
    - CMAKE_LIBRARY_PATH=/home/travis/build/testbot/restricted/cplex/cplex/lib/x86-64_sles10_4.1/static_pic/:/home/travis/build/testbot/restricted/cplex/concert/lib/x86-64_sles10_4.1/static_pic/
    - ILOG_LICENSE_FILE=/home/travis/build/testbot/restricted/cplex/access.ilm
    - WORHP=/home/travis/build/testbot/restricted/worhp
    - WORHP_LICENSE_FILE=/home/travis/build/testbot/restricted/worhp/unlocked.lic
    - SNOPT=/home/travis/build/snopt7
    - MATLABPATH=/home/travis/build/matlab-install
    - MATLAB_ROOT=/home/travis/build/matlab
    - GUROBI_HOME=/home/travis/build/gurobi

  matrix:
    - BUILD_TYPE=Release NAME_SUFFIX="" compilerprefix=x86_64-w64-mingw32 BITNESS=64 TESTCOMMIT="1" MATLABRELEASE=R2014b
    - BUILD_TYPE=Release NAME_SUFFIX="" compilerprefix=x86_64-w64-mingw32 BITNESS=64 MATLABRELEASE=R2014a
    - BUILD_TYPE=Release NAME_SUFFIX="" compilerprefix=x86_64-w64-mingw32 BITNESS=64 MATLABRELEASE=R2013a
    - BUILD_TYPE=Release NAME_SUFFIX="-32" compilerprefix=i686-w64-mingw32 BITNESS=32 MATLABRELEASE=R2013a
    #- BUILD_TYPE=Debug NAME_SUFFIX="-Debug" MATLABRELEASE=R2014b
    #- BUILD_TYPE=RelWithDebInfo NAME_SUFFIX="-dsym" MATLABRELEASE=R2014b
    #- BUILD_TYPE=Debug NAME_SUFFIX="-Debug" MATLABRELEASE=R2014a

before_script:
  - set -e
  - set -o pipefail  # otherwise, piping with grep discards exit statuses

script:
  - pushd /home/travis/build/
  - if [ "$BITNESS" -eq "32" ]; then export MATLABFETCH_SUFFIX=32; fi
  - echo $MATLABFETCH_SUFFIX
  - testbot/recipes/fetch.sh matlab$MATLABRELEASE-win$MATLABFETCH_SUFFIX.zip

  # travis-wait seems to stop at 20 mins, regardless if output is being generated
  - (while true ; do sleep 60 ; echo "ping" ; done ) &

  - mkdir matlab && unzip matlab$MATLABRELEASE-win$MATLABFETCH_SUFFIX.zip -d matlab > /dev/null
  - popd
  - pushd casadi
    # Fixing issue https://github.com/casadi/casadi/issues/1654
  - |
    cat <<EOF >> swig/casadi.i
    %begin %{
    #define UINT64_T unsigned long long int
    %}
    EOF
  # Displace find_package(MATLAB)
  - pushd swig/matlab
  - export MATLAB_BINDIR=$MATLAB_ROOT/bin/win$BITNESS
  - |
    cat <<EOF > CMakeLists2.txt
    set(MATLAB_LIBRARIES $MATLAB_BINDIR/libut.dll $MATLAB_BINDIR/libmex.dll $MATLAB_BINDIR/libmx.dll $MATLAB_BINDIR/libeng.dll)
    
    set(MATLAB_INCLUDE_DIR "$MATLAB_ROOT/extern/include")
    set(MATLAB_EXTRA_CXXFLAGS "-D__STDC_UTF_16__")
    set(MATLAB_MEX_EXT "mexw$BITNESS")
    EOF
  - grep -v "find_package(MATLAB" CMakeLists.txt >> CMakeLists2.txt
  - rm CMakeLists.txt && mv CMakeLists2.txt CMakeLists.txt
  - cat CMakeLists.txt
  - popd
  - mkdir build
  - pushd build
  - echo "set(LAPACK_LIBRARIES \${LAPACK_LIBRARIES} gfortran)" | sudo tee --append  /usr/share/cmake-3.2/Modules/FindLAPACK.cmake
  - |
    cat <<EOF >toolchain.cmake
    # this one is important
    SET(CMAKE_SYSTEM_NAME Windows)
    #this one not so much
    SET(CMAKE_SYSTEM_VERSION 1)

    SET(PREFIX $compilerprefix)

    # specify the cross compiler
    SET(CMAKE_C_COMPILER   $compilerprefix-gcc)
    SET(CMAKE_CXX_COMPILER $compilerprefix-g++)
    SET(CMAKE_Fortran_COMPILER $compilerprefix-gfortran)
    set(CMAKE_RC_COMPILER $compilerprefix-windres)
    
    # where is the target environment 
    SET(CMAKE_FIND_ROOT_PATH  /usr/$compilerprefix)
    SET(CMAKE_CXX_FLAGS " -fno-ipa-cp-clone" CACHE STRING "" FORCE)
    SET(CMAKE_C_FLAGS " -fno-ipa-cp-clone" CACHE STRING "" FORCE)
    
    # search for programs in the build host directories
    SET(CMAKE_FIND_ROOT_PATH_MODE_PROGRAM NEVER)
    # for libraries and headers in the target directories
    SET(CMAKE_FIND_ROOT_PATH_MODE_LIBRARY NEVER)
    SET(CMAKE_FIND_ROOT_PATH_MODE_INCLUDE NEVER)
    set(CMAKE_SHARED_LIBRARY_SUFFIX "dll")
    EOF
  - cmake -DWITH_ECOS=ON -DOLD_LLVM=ON -DWITH_CLANG=ON -DMATLAB_EXTRA_CXXFLAGS="-D__STDC_UTF_16__" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DWITH_SELFCONTAINED=ON -DBLA_STATIC=ON -DBLA_VENDOR=Generic -DBLA_DIR=/home/travis/build/lapack -DWITH_PYTHON=OFF -DWITH_MATLAB=ON -DENABLE_STATIC=OFF -DENABLE_SHARED=ON -DWITH_DEEPBIND=ON -DCMAKE_TOOLCHAIN_FILE=toolchain.cmake -DWITH_MATLAB=ON -DWITH_IPOPT=ON -DWITH_SNOPT=OFF -DWITH_CPLEX=OFF -DCMAKE_INSTALL_PREFIX=../matlab_install -DWITH_EXAMPLES=OFF ..
  - make install -j2 VERBOSE=1
  - ls lib
  - make install
  - ls /usr/lib/gcc/$compilerprefix
  - cp /usr/lib/gcc/$compilerprefix/*win32/*.dll ../matlab_install
  - cp /usr/$compilerprefix/lib/*.dll ../matlab_install
  - cp -RL /usr/$compilerprefix/include ../matlab_install/casadi/jit/mingw
  - cp -R /home/travis/build/clang/include/c++/v1 ../matlab_install/casadi/jit/mingw/c++
  
  - popd
  - pushd matlab_install && zip -r ../bundle.zip . && popd
  - |
    cat <<EOF > upload.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/home/travis/build/testbot/id_rsa_travis')
                          
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      sftp.makedirs('commits')
      with sftp.cd('commits'):
        sftp.makedirs("$COMMIT")
        with sftp.cd("$COMMIT"):
          sftp.makedirs('windows')
          with sftp.cd('windows'):
            sftp.put("bundle.zip","casadi-matlab$MATLABRELEASE-$COMMIT$NAME_SUFFIX.zip")
    EOF
  - sudo python upload.py

after_success:
  - test_commit test-windows-matlab

branches:
  except:
    - /.*appveyor.*/

before_install:
  - sudo apt-get update -qq
  - sync
  - free -t -m
  - pushd casadi && export COMMIT=`git rev-parse --short=7 HEAD` && echo $COMMIT && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && git checkout merged && source recipes/setup.sh && popd
  - source testbot/shellhelpers
  - sudo apt-get install p7zip-full -y
  - export SLURP_OS=trusty
  - export SLURP_CROSS=mingw
  - slurp ecos
  - slurp clang
  - slurp lapack
  - slurp swig_matlab
  - slurp ipopt
  - slurp bonmin
  - slurp hsl
  - travis_retry testbot/recipes/fetch.sh gurobi650_mingw64.zip && mkdir gurobi && unzip gurobi650_mingw64.zip -d gurobi
  - travis_retry testbot/recipes/fetch.sh snopt7.tar.gz && mkdir snopt7 && tar -xf snopt7.tar.gz -C snopt7
  - pushd testbot/restricted/cplex && mkdir cplex && tar -xf cplex12.4.tar.gz -C cplex && mkdir concert && tar -xf cplex12.4-concert.tar.gz -C concert && popd
  - pushd testbot/restricted && mkdir -p worhp && cd  worhp && 7za e ../libworhp_debian7_amd64_gcc47_1.7-12970f3.7z -y && popd
  - popd
  - sudo apt-get update
  - sudo apt-get install -y binutils gcc g++ gfortran git cmake cmake-data liblapack-dev ipython python-dev libxml2-dev
  - mingw_setup
  - sudo pip install pysftp
  - source /home/travis/build/testbot/restricted/env.sh
  - ssh-keyscan $GATE_SERVER >> ~/.ssh/known_hosts

language: cpp

