# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
os: osx


env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - LD_LIBRARY_PATH=/Users/travis/build/libhsl;/Users/travis/build/snopt7/lib
    - SNOPT=/Users/travis/build/snopt7
    - PYTHONVERSION=27
    - NUMPYVERSION=1.9.1
    - GUROBI_HOME=/Users/travis/build/gurobi
    - OCTAVEPATH=/Users/travis/build/octave-install
    - SLURP_GCC=4.9
    - TESTCOMMIT="1"

  
before_script:
  - set -e

compiler: clang

script:
  - sudo install_name_tool -id "@rpath/liboctinterp.4.dylib" /usr/local/opt/octave/lib/octave/4.2.1/liboctinterp.4.dylib
  - pushd /Users/travis/build
  - source testbot/shellhelpers
  - ls -al
  - popd
  - pkg-config --libs --cflags ipopt
  - pushd casadi
  - mkdir build
  - pushd build
  - cmake -DWITH_COMMON=ON $casadi_build_flags -DWITH_OPENMP=OFF -DWITH_SELFCONTAINED=ON -DWITH_OCTAVE=ON -DWITH_OCTAVE_IMPORT=ON -DCMAKE_INSTALL_PREFIX=$OCTAVEPATH ..
  - osx_rpath
  - make VERBOSE=1
  - make install
  - popd
  - cp $FORTRAN_FULL $QUADMATH_FULL $GCC_FULL $OCTAVEPATH
  
  - otool -l $OCTAVEPATH/libgfortran.3.dylib | grep /usr/local || assertfail
  - otool -l $OCTAVEPATH/libgcc_s.1.dylib | grep /usr/local || assertfail
  - otool -l $OCTAVEPATH/libquadmath.0.dylib | grep /usr/local || assertfail
  #- otool -l /Users/travis/build/casadi/binaries/casadi/build/lib/libcasadi_nlpsolver_ipopt.dylib
  #- otool -l $MATLABPATH/libcasadi_nlpsolver_ipopt.dylib

  - pushd $OCTAVEPATH/casadi && tar -czf ../../bundle.tar.gz .  && popd
  - export RESULT_TAR="$OCTAVEPATH/../bundle.tar.gz"
  - |
    cat <<EOF > upload.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/Users/travis/build/testbot/id_rsa_travis')
    
    binaries_dir = '/home/jg/binaries'
    
    
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      sftp.makedirs('commits')
      with sftp.cd('commits'):
        sftp.makedirs("$COMMIT")
        with sftp.cd("$COMMIT"):
          sftp.makedirs('osx')
          with sftp.cd('osx'):
            sftp.put("$RESULT_TAR","casadi-octave-$COMMIT$NAME_SUFFIX.tar.gz")
    EOF
  - python upload.py

after_success:
  - test_commit test-osx-octave
  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - shell_session_update() { :; } # Workaround for travis-ci/travis-ci#6522
  - brew install binutils #pcre
  - which gobjdump
  - pwd
  - pushd casadi && export COMMIT=`git rev-parse --short HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && git checkout merged && source recipes/setup.sh && popd
  - brew install p7zip
  #- travis_retry testbot/recipes/fetch.sh libhsl.tar.gz && mkdir libhsl && tar -xvf libhsl.tar.gz -C libhsl
  #- travis_retry testbot/recipes/fetch.sh snopt7.tar.gz && mkdir snopt7 && tar -xvf snopt7.tar.gz -C snopt7
  - mkdir -p /Users/travis/build/casadi/testbot
  #- travis_retry testbot/recipes/fetch.sh swig.tar.gz && mkdir swig && tar -xvf swig.tar.gz -C swig
  #- pushd /Users/travis/build/casadi/testbot && ln -s  /Users/travis/build/swig  swig-install  && popd
  - export SLURP_OS=osx
  - slurp swig_matlab
  #- slurp clang
  - slurp ecos
  - slurp ipopt
  - slurp worhp
  - slurp bonmin
  - travis_retry testbot/recipes/fetch.sh gurobi650_osx.zip && mkdir gurobi && unzip gurobi650_osx.zip -d gurobi && rm gurobi650_osx.zip
  #- pushd testbot/restricted/cplex && mkdir cplex && tar -xvf cplex12.4.tar.gz -C cplex && mkdir concert && tar -xvf cplex12.4-concert.tar.gz -C concert && popd
  - popd
  - brew update
  - brew tap homebrew/science
  - brew install octave
  - brew reinstall gcc49 --with-fortran
  #- brew doctor
  - sudo easy_install pip
  - sudo pip install pysftp cryptography==1.2.1
  
language: cpp
