# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
env: 
  global: 
    - LD_LIBRARY_PATH=/Users/travis/build/libhsl:/Users/travis/build/testbot/restricted/worhp:/Users/travis/build/snopt7/lib:/Users/travis/build/mosek/7/tools/platform/linux64x86/bin/
    - secure: "Bu8uBe0emUQyEYWCVnEvH8uvJISDPrCTa7KXVzJnR7GUFKLLnq31Uhjg33VG8/88Is4TP4Volp3QcJadI30D0zfTkI7mZTIwF3JqG7/GjwG5LXSsR2uQM+Rt+hssALubRAlua/5Ml4O8w+tm8IZfvgM3Z2QPiVQ2lMM5DUwFXGatumesKb3SaKj96tSiOIswLqYr/NWEnBaWqm4DUuTUEwN/X6mkS13Lq/3/YqB4r+FwFuyQMWNqV8+/OD2/C+uEBMJCw3vJOPtKlP7+vzrbKobP1t44opPL33HRAhKxJg2Z99OL61QygazX2DoadIapAbrE2y6lnk42o9973C8pIG8TEN0xH0fWtPQDpXzzsgTqtx/Xlw+S0j51wUViLP86OcrVgvTRO2Bt7RAOgWYnOBvPvPfUOdnzSrAL/gh8vg2QsB3FeCuTr31Cf+81FOZy2yDQhTsaWOKUwqmJdV2PL0eatzMPinl0lod7pXBRIDwryv8iVzW3oA9AEwpeXMBx/AibX9/ZEu1BSjxYAVMHCKlR+k2/sGsYVOu9QzPthN7T5S/d/reF/RY19wjIm3L3Hvp7ygEV/xGpvOR8F5dTUxtWLb7+DrNgy3g7texU7YcGJS88atre2BAeZWE1a0GbXQHbB9sgjprVahEXZLVVOiyLOdBqaBspUaIfsmOMcRg="
    - MATLABRELEASE=R2015a
    - WORHP_LICENSE_FILE=/Users/travis/build/testbot/restricted/worhp/unlocked.lic
    - MOSEKLM_LICENSE_FILE=/Users/travis/build/testbot/restricted/mosek.lic

before_script:
  - set -e

os: osx

script:
  - ls
  - pushd casadi
  - popd
  - |
    cat <<EOF > download.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/Users/travis/build/testbot/id_rsa_travis')
                          
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      with sftp.cd('commits'):
        with sftp.cd("$COMMIT"):
          with sftp.cd('osx'):
            sftp.get("casadi-matlab$MATLABRELEASE-$COMMIT.tar.gz")
    EOF
  - python download.py
  - ls
  - echo "casadi-matlab$MATLABRELEASE-$COMMIT.tar.gz"
  - mkdir matlab && tar -xvf casadi-matlab$MATLABRELEASE-$COMMIT.tar.gz -C matlab
  - otool -L matlab/libcasadi_nlpsolver_ipopt.dylib
  - PATH=/Users/travis/build/matlab/bin/:$PATH matlab -nodisplay -nosplash -nodesktop -nojvm -r "addpath('/Users/travis/build/casadi/binaries/matlab'),savepath,exit"
  - pushd casadi/test && PATH=/Users/travis/build/matlab/bin/:$PATH make unittests_matlab && popd
  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - pushd casadi && export COMMIT=`git rev-parse --short HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && recipes/setup.sh && popd
  - brew update
  - brew tap homebrew/science
  - brew install p7zip
  #- brew doctor
  - sudo easy_install pip
  - sudo pip install ipython matplotlib numpy scipy pysftp
  - sudo pip install pysftp
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts 
  - travis_retry testbot/recipes/fetch.sh libhsl.tar.gz && mkdir libhsl && tar -xvf libhsl.tar.gz -C libhsl
  - travis_retry testbot/recipes/fetch.sh snopt7.tar.gz && mkdir snopt7 && tar -xvf snopt7.tar.gz -C snopt7
  - travis_retry testbot/recipes/fetch.sh mosek7.tar.bz2 && tar -xvf mosek7.tar.bz2
  - pushd testbot/restricted && mkdir -p worhp && cd worhp && 7za e ../libworhp_debian7_amd64_gcc47_1.7-12970f3.7z -y && popd

language: cpp
