# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml

dist: trusty
language: generic

env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - secure: "Bu8uBe0emUQyEYWCVnEvH8uvJISDPrCTa7KXVzJnR7GUFKLLnq31Uhjg33VG8/88Is4TP4Volp3QcJadI30D0zfTkI7mZTIwF3JqG7/GjwG5LXSsR2uQM+Rt+hssALubRAlua/5Ml4O8w+tm8IZfvgM3Z2QPiVQ2lMM5DUwFXGatumesKb3SaKj96tSiOIswLqYr/NWEnBaWqm4DUuTUEwN/X6mkS13Lq/3/YqB4r+FwFuyQMWNqV8+/OD2/C+uEBMJCw3vJOPtKlP7+vzrbKobP1t44opPL33HRAhKxJg2Z99OL61QygazX2DoadIapAbrE2y6lnk42o9973C8pIG8TEN0xH0fWtPQDpXzzsgTqtx/Xlw+S0j51wUViLP86OcrVgvTRO2Bt7RAOgWYnOBvPvPfUOdnzSrAL/gh8vg2QsB3FeCuTr31Cf+81FOZy2yDQhTsaWOKUwqmJdV2PL0eatzMPinl0lod7pXBRIDwryv8iVzW3oA9AEwpeXMBx/AibX9/ZEu1BSjxYAVMHCKlR+k2/sGsYVOu9QzPthN7T5S/d/reF/RY19wjIm3L3Hvp7ygEV/xGpvOR8F5dTUxtWLb7+DrNgy3g7texU7YcGJS88atre2BAeZWE1a0GbXQHbB9sgjprVahEXZLVVOiyLOdBqaBspUaIfsmOMcRg="
    - CMAKE_INCLUDE_PATH=/home/travis/build/testbot/restricted/cplex/cplex/include:/home/travis/build/testbot/restricted/cplex/concert/include
    - CMAKE_LIBRARY_PATH=/home/travis/build/testbot/restricted/cplex/cplex/lib/x86-64_sles10_4.1/static_pic/:/home/travis/build/testbot/restricted/cplex/concert/lib/x86-64_sles10_4.1/static_pic/
    - ILOG_LICENSE_FILE=/home/travis/build/testbot/restricted/cplex/access.ilm
    - WORHP=/home/travis/build/testbot/restricted/worhp
    - WORHP_LICENSE_FILE=/home/travis/build/testbot/restricted/worhp/unlocked.lic
    - SNOPT=/home/travis/build/snopt75
    - PYTHONVERSION=27
    - NUMPYVERSION=1.9.1

before_script:
  - set -e

script:
  - sudo apt-get install -y python-lxml
  - pushd casadi
  - mkdir build
  - pushd build
  - cmake -DCPACK_GENERATOR=DEB -DWITH_ECOS=ON -DOLD_LLVM=ON -DWITH_CLANG=ON -DWITH_WORHP=ON -DWITH_SLICOT=ON -DWITH_PYTHON=ON -DWITH_JSON=ON  -DCMAKE_INSTALL_PREFIX=../python_install -DPYTHON_PREFIX=../python_install ..
  - make 
  - make json
  - make package
  - popd
  - ls
  - export RESULT_DEB=`ls build/*.deb`
  - |
    cat <<EOF > upload.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/home/travis/build/testbot/id_rsa_travis')
    
    binaries_dir = '/home/jg/binaries'
    
    
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      sftp.makedirs('commits')
      with sftp.cd('commits'):
        sftp.makedirs("$COMMIT")
        with sftp.cd("$COMMIT"):
          sftp.makedirs('linux')
          with sftp.cd('linux'):
            sftp.put("$RESULT_DEB","libcasadi-$COMMIT.deb")
    EOF
  - python upload.py
  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - pushd casadi && export COMMIT=`git rev-parse --short=7 HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && git checkout merged && source recipes/setup.sh && popd
  - export SLURP_OS=trusty
  - sudo apt-get install p7zip-full -y
  - slurp hsl
  - slurp clang
  - slurp ecos
  - slurp ipopt
  - slurp bonmin
  - slurp swig
  - travis_retry testbot/recipes/fetch.sh snopt75.tar.gz && mkdir snopt75 && tar -xvf snopt75.tar.gz -C snopt75
  - pushd testbot/restricted/cplex && mkdir cplex && tar -xvf cplex12.4.tar.gz -C cplex && mkdir concert && tar -xvf cplex12.4-concert.tar.gz -C concert && popd
  - pushd testbot/restricted && mkdir -p worhp && cd  worhp && 7za e ../libworhp_debian7_amd64_gcc47_1.7-12970f3.7z -y && popd
  - popd
  - sudo apt-get install -y binutils libslicot-dev gcc g++ gfortran git cmake liblapack-dev ipython python-dev python-numpy python-scipy python-matplotlib libmumps-seq-dev libblas-dev liblapack-dev libxml2-dev
  - sudo apt-get install -y fakeroot rpm alien
  - sudo pip install pysftp
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts 
