# Inspiration: https://github.com/edx/configuration/blob/master/.travis.yml
env: 
  global: 
    - IPOPT_DEFAULT_LINEAR_SOLVER=ma57
    - LD_LIBRARY_PATH=/home/travis/build/testbot/restricted/worhp:/home/travis/build/snopt75/lib:/home/travis/build/mosek/7/tools/platform/linux64x86/bin/:/home/travis/build/gurobi/lib
    - CMAKE_INCLUDE_PATH=/home/travis/build/testbot/restricted/cplex/cplex/include:/home/travis/build/testbot/restricted/cplex/concert/include
    - CMAKE_LIBRARY_PATH=/home/travis/build/testbot/restricted/cplex/cplex/lib/x86-64_sles10_4.1/static_pic/:/home/travis/build/testbot/restricted/cplex/concert/lib/x86-64_sles10_4.1/static_pic/
    - ILOG_LICENSE_FILE=/home/travis/build/testbot/restricted/cplex/access.ilm
    - WORHP=/home/travis/build/testbot/restricted/worhp
    - WORHP_LICENSE_FILE=/home/travis/build/testbot/restricted/worhp/unlocked.lic
    - PYTHONVERSION=27
    - NUMPYVERSION=1.9.1
    - MOSEKLM_LICENSE_FILE=/home/travis/build/testbot/restricted/mosek.lic
    - GUROBI_HOME=/home/travis/build/gurobi
    - GRB_LICENSE_FILE=/home/travis/gurobi.lic
    
before_script:
  - set -e
  
dist: trusty
os: linux
language: generic

script:
  - sudo apt-add-repository ppa:octave/stable -y
  - sudo apt-get update -qq
  - sudo apt-get install octave liboctave-dev -y
  - sudo apt-get install -y xvfb
  - |
    cat <<EOF > download.py
    import pysftp
    sftp = pysftp.Connection('web.sourceforge.net', 
                          username='casaditestbot,casadi',
                          private_key='/home/travis/build/testbot/id_rsa_travis')
    
    with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
      sftp.makedirs('commits')
      with sftp.cd('commits'):
        sftp.makedirs("$COMMIT")
        with sftp.cd("$COMMIT"):
          sftp.makedirs('linux')
          with sftp.cd('linux'):
            sftp.get("casadi-octave-$COMMIT.tar.gz","octave.tar.gz")
    EOF
  - python download.py
  - ls
  - echo "casadi-octave-$COMMIT.tar.gz"
  - mkdir octave && tar -xvf octave.tar.gz -C octave
  - Xvfb :1 &
  - export DISPLAY=:1
  - octave --no-gui --eval "addpath('/home/travis/build/casadi/binaries/octave'),savepath,exit"
  - pushd casadi/test && make octave && popd

  
branches:
  except:
    - /.*appveyor.*/

before_install:
  - pushd casadi && export COMMIT=`git rev-parse --short=7 HEAD` && popd
  - pushd ../../ && git clone https://github.com/casadi/testbot.git
  - pushd testbot && git checkout merged && source recipes/setup.sh && popd
  - sudo apt-get install p7zip-full -y
  - export SLURP_OS=trusty
  - slurp hsl
  - travis_retry testbot/recipes/fetch.sh snopt75.tar.gz && mkdir snopt75 && tar -xvf snopt75.tar.gz -C snopt75
  - travis_retry testbot/recipes/fetch.sh gurobi650.tar.gz && mkdir gurobi && tar -xf gurobi650.tar.gz -C gurobi && rm gurobi650.tar.gz
  - travis_retry testbot/recipes/fetch.sh mosek7.tar.bz2 && tar -xvf mosek7.tar.bz2
  - pushd testbot/restricted/cplex && mkdir cplex && tar -xvf cplex12.4.tar.gz -C cplex && mkdir concert && tar -xvf cplex12.4-concert.tar.gz -C concert && popd
  - pushd testbot/restricted && mkdir -p worhp && cd  worhp && 7za e ../libworhp_debian7_amd64_gcc47_1.7-12970f3.7z -y && popd
  - popd
  - sudo apt-get install -y libslicot0 binutils git cmake liblapack3 ipython python-numpy python-scipy python-matplotlib libblas3 libxml2
  - sudo pip install pysftp
  - python --version
  - python -c "import pysftp"
  - ssh-keyscan web.sourceforge.net >> ~/.ssh/known_hosts 
