environment:
  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\testbot\\helpers\\run_with_env.cmd"
    keyA:
      secure: 44jgfY+doJx9eHLCweOl6Mf7qoeeRlA2Dch0cLUGbvRorXaqr6bs8tVsJ/KXGPVIA4DrXLlpaEeb2eJ5LM4Mdeq5Ux2txHsQpTAnBDSihWQ=
    PYTHON: "C:\\Python27"
    PYTHON_VERSION: "2.7.8"
    PYTHON_ARCH: "32"
    BITNESS: "32"
    OCTAVEVERSION: "4.2.1"

install:
  - git submodule init
  - git submodule update
  - cd casadi
  - git rev-parse --short=7 HEAD > temp.txt
  - set /p COMMIT=<temp.txt
  - ECHO "%COMMIT%"
  - cd ..
  - git clone https://github.com/casadi/testbot.git
  - cd testbot && git checkout merged && cd ..
  - openssl aes-256-cbc -k "%keyA%" -in testbot/id_rsa_travis.enc -out id_rsa_travis -d
  - openssl aes-256-cbc -k "%keyA%" -in testbot/testbotcredentials.py.enc -out testbotcredentials.py -d
  - openssl aes-256-cbc -k "%keyA%" -in testbot/env.bat.enc -out env.bat -d
  - openssl aes-256-cbc -k "%keyA%" -in testbot/id_rsa_travis.pkk.enc -out id_rsa_travis.pkk -d
  - env.bat
  - echo %FLEX_SERVER%
  - "powershell testbot/helpers/install.ps1"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - pip install requests
  - set PYTHONPATH=%PYTHONPATH%;C:\projects\binaries\testbot\helpers
  - set BITNESS=32
  - call testbot/fetch_common.bat
  - set PATH=%PATH%;C:\projects\binaries
  - dir
  - dir C:\MinGW\msys\1.0
  - tree C:\MinGW\msys\1.0
  - set PATH=%PATH%;C:\MinGW\msys\1.0\bin;C:\MinGW\bin;C:\tools\MinGW\bin
  - "powershell testbot/helpers/install.ps1"
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
  - pip install pysftp
  - pip install requests==2.6.0
  - "SET ZIPFILE=casadi-octave-%OCTAVEVERSION%-w%BITNESS%-%COMMIT%.zip"
  - echo %ZIPFILE%
  - ps: |
        $a = @"
        import pysftp
        import os
        cnopts = pysftp.CnOpts()
        cnopts.hostkeys = None    # disable host key checking.
        sftp = pysftp.Connection('web.sourceforge.net', 
                              username='casaditestbot,casadi',
                              private_key='id_rsa_travis',cnopts=cnopts)
        
        with sftp.cd('/home/pfs/project/c/ca/casadi/CasADi'):
          with sftp.cd('commits'):
            with sftp.cd("$Env:COMMIT"):
              with sftp.cd('windows'):
                sftp.get("$Env:ZIPFILE")
        "@
        $a | out-file -Encoding ascii -FilePath download.py
  - python download.py
  - set PYTHONPATH=%PYTHONPATH%;C:\projects\binaries\testbot\helpers
  - ps: |
        Invoke-WebRequest  https://ftp.gnu.org/gnu/octave/windows/octave-$Env:OCTAVEVERSION-w$Env:BITNESS.zip -OutFile octave.zip
  - 7z x -y "octave.zip" -ooctave > nul
  - pwd
  - dir
  - 7z x %ZIPFILE% -ocasadioctave > nul
  - pushd casadi\\test
  - dir C:\projects\binaries\octave
  - set OCTAVE_PATH=C:\projects\binaries\casadioctave
  - set PATH=C:\projects\binaries\octave\octave-%OCTAVEVERSION%\bin;C:\projects\binaries\casadioctave;%PATH%
  - make octave

branches: 
  except:
    - /.*travis.*/

build_script:
  - echo "foo"

